.well.selected {
  background-color: #4CAF50 !important;
  color: white;
  font-weight: bold;
}
.well-plate {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 500px;
  margin: auto;
}